* {
	margin: 0;
	padding: 0;
}
body{
	color: #000;
	font: normal 14px Arial, Helvetica, sans-serif;
}
img{	
	border: 0;
}		
a{
	color: #0ebaf2;
	outline: none;
}
a:hover{
	color: #000;	
}
a:active{
	color: #c60101;
}
a:visited{
	color: #c60101;
}	
ul li{
	list-style: none;
}
input, textarea, select, button{
	font: normal 14px Arial, Helvetica, sans-serif;
	outline: none;	
	border:none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

	
/* Layout
----------------------------------*/	
.wrapper{}

/*fiolet*/
.fiolet{
	background-color:#87509c;
	height:597px;
	width:1440px;
	color:#fff;
}
.fiolet .headerF{
	padding-top:58px;
	padding-bottom:145px;
	overflow:hidden;
}
.fiolet .logo{
	float:left;
	padding-left:210px;
}
.fiolet .main-navigation{
	overflow:hidden;
	padding-left:480px;
}
.fiolet .main-navigation li{
	padding-top:10px;
	padding-bottom:10px;
	min-width:77px;
	float:left;
	margin-right:10px;
	text-align:center;
}
.fiolet .main-navigation li a{
	text-decoration: none;
	color: #fff;
	font: 16px;
	font-family: 'Titillium Web', sans-serif;
}
.fiolet .main-navigation li:hover, .main-navigation li.active{
	background-color: #643a79;
	border-radius:4px;
}
.fiolet .containF{
	padding-left:265px;
	padding-right:265px;
	text-align:center;
	font-size:42.16px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}
.paddingF{
	padding-left:70px;
	padding-right:70px;
}
.fiolet p{
	padding-bottom:60px;
}
.fiolet button{
	width:293px;
	height:66px;
	background-color:#eb7d4b;
	color:#fff;
	border-radius:2px;
	box-shadow:0px 4px 0 0 #c86a40;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size:18px;
}
/*fiolet*/

/*blue*/
.blue{
	background-color:#17c2a4;
	height:745px;
	width:1440px;
	color:#fff;
}
.headerB{
	font:41.29px 'Titillium Web', sans-serif;
	font-weight:bold;
	text-align:center;
	padding-top:120px;
	padding-bottom:5px;
}
.line{
	padding-left:678px;
	padding-bottom:15px;
}
.textB{
	font-family:'Titillium Web', sans-serif;
	font-size:18.58px;
	text-align:center;
	padding-left:420px;
	padding-right:420px;
	margin-bottom:50px;
}
.containB{
	overflow:hidden;
}
.blocksB{
	max-width:260px;
	max-height:362px;
	float:left;
	text-align:center;
	margin:0 10px;
}
.blocksB:nth-child(2){
	margin-left:160px;
} 
.blocksB:nth-child(5n){
	margin-right:160px;
}
.imgB{
	padding-top:35px;
}
.nameB{
	padding-top:40px;
	font-family:'Titillium Web', sans-serif;
	font-weight:bold;
	font-size:24px;
}
.descriptionB{
	font-family:'Titillium Web', sans-serif;
	font-weight:light;
	font-size:16px;
	padding:25px 35px 35px 35px;
}
/*blue*/

/*light blue*/
.lightblue{
	background-color:#e7f1f8;
	height:915px;
	width:1440px;
	color:#3c4761;
}

/*light blue*/
