* {
	margin: 0;
	padding: 0;
}
body{
	color: #000;
	font-family: "Titillium Web", sans-serif;
}
img{	
	border: 0;
}		
ul li{
	list-style: none;
}
input, textarea, select, button{
	outline: none;	
	border:none;
}
h1{
	font: 40px 'Titillium Web', sans-serif bold;
}	
/* Layout
----------------------------------*/	
.wrapper{}

/*fiolet*/
.fiolet{
	background-color:#87509c;
	width:100%;
	color:#fff;
}
.mainF,.mainB,.mainLB,.mainW,.mainP,.mainDB,.mainPi{
	background-color:#87509c;
	width:1040px;
	text-align:center;
	margin:auto;
	padding-top:50px;
	padding-bottom:105px;
}
}
.fiolet .headerF{
	padding-top:58px;
	padding-bottom:145px;
	overflow:hidden;
}
.fiolet .logo{
	float:left;
}
.fiolet .main-navigation{
	overflow:hidden;
	padding-left:480px;
}
.fiolet .main-navigation li{
	padding-top:10px;
	padding-bottom:10px;
	min-width:77px;
	float:left;
	margin-right:10px;
	text-align:center;
}
.fiolet .main-navigation li a{
	text-decoration: none;
	color: #fff;
	font: 16px;
	font-family: 'Titillium Web', sans-serif;
}
.fiolet .main-navigation li:hover, .main-navigation li.active{
	background-color: #643a79;
	border-radius:4px;
}
.fiolet h2{
	padding-bottom:35px;
	font-size:40px;
}
.fiolet .containF{
	padding-top:125px;
	padding-left:55px;
	padding-right:75px;
	text-align:center;
	font-size:41.16px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}
.fiolet button, .peach button, .darkblue button{
	padding:27px 80px;
	color:#fff;
	border-radius:2px;
	background-color:#eb7d4b;
	box-shadow:0px 4px 0 0 #c86a40;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size:18px;
	margin-bottom:40px;
}
.fiolet button:hover{
	background-color:#FF962D;
}
/*fiolet*/

/*blue*/
.blue{
	background-color:#17c2a4;
	width:100%;
	color:#fff;
}
.mainB, .mainLB, .mainW, mainP,.mainDB,.mainPi{
	background-color:#17c2a4;
	padding-top:105px;
	padding-bottom:83px;
	width:1100px;
	overflow:hidden;
}
 
h1{
	font: 40px 'Titillium Web', sans-serif bold;
	text-align: center;
	padding: 5px;
	margin-bottom:15px;
	overflow:hidden;
}
.line{
	padding-top:5px;
	background: url("images/line.png") no-repeat center center;
	opacity:0.7;
}
.textB,.textLB,.textW,.textP,textDB,.textPi{
	font-family:'Titillium Web', sans-serif;
	font-size:18.58px;
	text-align:center;
	padding-left:245px;
	padding-right:245px;
}
.containB,.containLB,.containW,.containP,.containDB,.containPi{
	overflow:hidden;
	padding-top:20px;
}
.blocksB,.blocksLB,.blocksW{
	padding-top:20px;
	max-width:260px;
	max-height:362px;
	float:left;
	text-align:center;
	margin:0 10px;
}
.blocksB:nth-child(2),.blocksLB:nth-child(2),.blocksW:nth-child(2){
	margin-left:0px;
} 
.blocksB:nth-child(5n),.blocksLB:nth-child(5n),.blocksW:nth-child(5n){
	margin-right:0px;
}
.imgB,.imgP{
	padding-top:35px;
}
.nameB,.nameLB,.nameW,.nameP,namePi{
	padding-top:40px;
	font-family:'Titillium Web', sans-serif;
	font-weight:bold;
	font-size:24px;
}
.descriptionB,.descriptionLB{
	font-family:'Titillium Web', sans-serif;
	font-size:16px;
	padding:25px 35px 35px 35px;
}
.blocksB a,.blocksLB a,.blocksW a,.blocksP a,.blocksPi a{
	text-decoration:none;	
	color:#fff;
}
/*blue*/

/*light blue*/
.lightblue{
	background-color:#e7f1f8;
	width:100%;
	color:#3c4761;
}
.mainLB{
	background-color:#e7f1f8;
}
.textLB{
        padding-left:225px;
        padding-right:225px;
}
.blocksLB{
	max-height:560px;
	max-width:260px;
}
.photos{	
	max-width:115px;
	min-height:100px;
	padding-left:30px;
	margin:0 auto;
	padding-top:35px;
	border:none;
	border-radius:50%;
	background-color:#878787;
}
.blocksLB a{
	color:#3c4761;
}
/*light blue*/

/*white*/
.white{
	background-color:#fff;
	width:100%;
	color:#3c4761;
}
.mainW{
	background-color:#fff;
}
.blocksW{
	min-height:300px;
	min-width:260px;
}
.blocksW a{
	color:#3c4761;
}
.imgW{
	max-width:115px;
	min-height:100px;
	margin:0 auto;
	border:10px solid #dfe8ed;
	border-radius:50%;	
	text-align:center;
	font: 40px 'Titillium Web', sans-serif;
	line-height:2.7;
}
/*white*/

/*peach*/
.peach{
	background-color:#ffdd99;
	width:100%;
	color:#393939;
}
.mainP{
	background-color:#ffdd99;
	width:1100px;
}
.peach .panel{
	overflow:hidden;
	padding-left:360px;
	padding-top:20px;
}
.peach .panel li{
	padding-top:10px;
	padding-bottom:10px;
	min-width:85px;
	float:left;
	margin-right:5px;
	text-align:center;
	background-color:#ebc985;
	border-radius:4px;
}
.peach .panel li a{
	text-decoration: none;
	color:#393939;
	font: 16px;
	font-family: 'Titillium Web', sans-serif;
}
.peach .panel li:hover,.peach .panel li.active{
	background-color: #fff;
}
.mainP .blocksP, blocksPi{
	padding-top:20px;
	max-width:540px;
	max-height:425px;
	float:left;
	text-align:center;
	margin:0 10px;
}
.imgP .imgPi{
	max-width:540px;
	
}
.blocksP:nth-child(3),.blocksP:nth-child(5){
	margin-left:0px;
} 
.blocksP:nth-child(4),.blocksP:nth-child(6){
	margin-right:0px;
}
.blocksP a{
	color:#393939;
}
.peach button{
	margin-top:50px;
	background-color:#17c2a4;
	box-shadow:0px 4px 0 0 #14a58c;
}
.peach button:hover{
	background-color:#87FAFA;
}
/*peach*/

/*pink*/
.pink{
	background-color:#d74680;
	width:100%;
	color:#fff;
}
.mainPi{
	background-color:#d74680;
}

.blocksPi{
	max-width:540px;
	max-height:220px;
	overflow:hidden;
	float:left;
	padding-top:20px;
	padding-bottom:20px;
	margin:0 50px;
}
.blocksPi:nth-child(2),.blocksPi:nth-child(4){
	margin-left:0px;
}  
.blocksPi:nth-child(3),.blocksPi:nth-child(5){
	margin-right:0px;
}
.blocksPi:nth-child(4),.blocksPi:nth-child(5){
	padding-top:100px;
}
.imgPi{
	float:left;
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:#787878;
}
.descriptionPi{
	float:left;
	max-width:340px;
	
}

/*pink*/

/*darkblue*/
.darkblue{
	background-color:#3c5499;
	width:100%;
	color:#fff;
}
.mainDB{
	background-color:#3c5499;
}
.inputs{
	margin-top:70px;
	
}
.darkblue input{
	width:390px;
	height:55px;
	background-color:#273a71;
	border:none;
	color:#fff;
	padding-left:25px;
	border-radius:5px;
}
.darkblue input:first-child{
	margin-right:25px;
}
.darkblue input:hover, .darkblue textarea:hover{
	box-shadow:0 0 2px 2px #fff inset;
}
.darkblue input:focus, .darkblue textarea:focus{
	background-color:#003871;
}
.darkblue textarea{
	resize:vertical;
	margin-top:30px;
	background-color:#273a71;
	border:none;	
	color:#fff;
	width:835px;
	height:185px;
	border-radius:5px;
	padding-left:25px;
	padding-top:15px;
}
.darkblue button{
	margin-top:50px;
	background-color:#30bae7;
	box-shadow:0px 4px 0 0 #299ec5;

}
.darkblue button:hover{
	background-color:#40c8f4;
}
/*darkblue*/
